<script id="meta-data-template" type="text/template">
    <div class="bs-callout bs-callout-{color}">
        <p class="sentiment-{color}">
            <strong>{label}</strong>
        </p>
        <p>Total Mentions: {volume}</p>
        <p>Positive: {positive}</p>
        <p>Negative: {negative}</p>
        <p>Neutral: {neutral}</p>
    </div>
</script>
<script src="/js/requests.js "></script>
<script src="/js/word-cloud.js"></script>
<script src="/js/index.js "></script>
