<center style="padding-top: 50px;">
    <a href="https://github.com/patito/word-cloud" target="_blank">
        <i class="fa fa-github fa-3x fa-fw" aria-hidden="true"></i>
    </a>
    <a href="/test">
        <i class="fa fa-bug fa-3x fa-fw" aria-hidden="true"></i>
    </a>
    <br>
    <br>
    <i>Click in the icons to Run Tests and Access the source code.</i>
</center>