<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/libs/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/jqcloud2/dist/jqcloud.min.js"></script>
<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<title>Word Cloud</title>