<script src="/libs/js/script.js"></script>
<script src="/libs/js/deps.js"></script>
<script src="/libs/js/word-cloud.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/libs/css/wc.css">
<title>Word Cloud</title>