<!doctype HTML>
<html>

<head>
    <% include ./header %>
</head>

<body>
    <div class="top-bw">
        <center>
            <h1>Brandwatch Word Cloud</h1>
        </center>
    </div>
    <%include ./word-cloud %>
    <%include ./github %>
</body>
<%include ./footer %>
</html>
