.sentiment-green {
  color: #468847;
}

.sentiment-red {
  color: #a94442;
}

.sentiment-grey {
  color: #777;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-green {
    border-left-color: #468847;
}

.bs-callout-red {
    border-left-color: #a94442;
}

.bs-callout-grey {
    border-left-color: #777;
}

a:hover  {
	font-weight: bold;
}